<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="Installation" value="Enter_Installation"/>
    <add key="Clinic" value="Enter_Clinic"/>
    <add key="CSVFilePath" value="Enter_CSVFilePATH"/>
    <add key="ProKnow" value="Enter_Destination"/>
  </appSettings>
</configuration>
