<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="Installation" value="rtp1"/>
    <add key="Clinic" value="ARCHIVE MONACO"/>
    <add key="CSVFilePath" value="K:\RADIOTHERAPY\Medical Physics New\Scripting and Automation\SGCC Scripts\BatchDicomExport_ProKnow\patients.csv"/>
    <add key="ProKnow" value="ProKnow Backup"/>
  </appSettings>
</configuration>
